__pycache__
data_div/CICIDS2017/test/*
data_div/CICIDS2017/train/*
data_div/dapt2020/test/*
data_div/dapt2020/train/*
data_raw/CICIDS2017/*
data_raw/dapt2020/*
log/20*
test_my/model_jit_save
test_my/whole_process_demo/pcap